﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootbusiness | Short description about company">
    <meta name="Tracktori" content="Elmedin Mashkulli">
    <title>@ViewBag.Title - Muhendislik | Give unique title of the page here</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <!-- Start: Navigation wrapper -->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="brand brand-bootbus">
                        <li>@Html.ActionLink("Sirket", "index", "Home")</li>
                    </ul>
                    <!-- Below button used for responsive navigation -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Start: Primary navigation -->
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products and Services<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-header">PRODUCTS</li>
                                    <li><a href="product.html">Product1</a></li>
                                    <li><a href="product.html">Product2</a></li>
                                    <li><a href="product.html">Product3</a></li>
                                    <li><a href="all_products.html">All products</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">SERVICES</li>
                                    <li><a href="service.html">Service1</a></li>
                                    <li><a href="service.html">Service2</a></li>
                                    <li><a href="service.html">Service3</a></li>
                                    <li><a href="all_services.html">All services</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="our_works.html">Our works</a></li>
                                    <li><a href="patnerships.html">Parnerships</a></li>
                                    <li><a href="leadership.html">Leadership</a></li>
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                </ul>
                            </li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
                            <li>@Html.ActionLink("Sign In", "Login", "Account")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Navigation wrapper -->
    </header>
    <!-- End: HEADER -->

    @RenderBody()
   
    <!-- Start: FOOTER -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="span2">
                    <h4><i class="icon-star icon-white"></i> Products</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="product.html">Product1</a></li>
                            <li><a href="product.html">Product2</a></li>
                            <li><a href="product.html">Product3</a></li>
                            <li><a href="all_products.html">All products</a></li>
                        </ul>
                    </nav>
                    <h4><i class="icon-cogs icon-white"></i> Services</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="service.html">Service1</a></li>
                            <li><a href="service.html">Service2</a></li>
                            <li><a href="service.html">Service3</a></li>
                            <li><a href="all_services.html">All services</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="span2">
                    <h4><i class="icon-beaker icon-white"></i> About</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="our_works.html">Our works</a></li>
                            <li><a href="patnerships.html">Patnerships</a></li>
                            <li><a href="leadership.html">Leadership</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <ul>
                    </nav>
                </div>
                <div class="span2">
                    <h4><i class="icon-thumbs-up icon-white"></i> Support</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="contact_us.html">Contact us</a></li>
                        </ul>
                    </nav>
                    <h4><i class="icon-legal icon-white"></i> Legal</h4>
                    <nav>
                        <ul class="quick-links">
                            <li><a href="#">License</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="span3">
                    <h4>Get in touch</h4>
                    <div class="social-icons-row">
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>
                    </div>
                    <div class="social-icons-row">
                        <a href="#"><i class="icon-google-plus"></i></a>
                        <a href="#"><i class="icon-github"></i></a>
                        <a href="mailto:soundar.rathinasamy@gmail.com"><i class="icon-envelope"></i></a>
                    </div>
                    <div class="social-icons-row">
                        <i class="icon-phone icon-large phone-number"></i> +919750227877
                    </div>
                </div>
                <div class="span3">
                    <h4>Get updated by email</h4>
                    <form>
                        <input type="text" name="email" placeholder="Email address">
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="container">
            <p>
                &copy; 2012-3000 Bootbusiness, Inc. All Rights Reserved.
            </p>
        </div>
    </footer>
    <!-- End: FOOTER -->
    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")        
    @RenderSection("scripts", required: false)
</body>
</html>
