﻿@model IEnumerable<Sliders>
@{
    Layout = null;
}
 <div class="slider">
    <div class="container-fluid">
        <div id="heroSlider" class="carousel slide">
            @foreach (var item in Model)
            {
            <div class="carousel-inner">
                
                <div class="item">
                    <div class="hero-unit">
                        <div class="row-fluid">
                            <div class="span7 marketting-info">
                                <h1>TELL ABOUT YOUR PRODUCT</h1>
                                <p>
                                    @item.SliderTxt
                                </p>
                                <h3>
                                    <a href="#" class="btn btn-primary">Buy now</a>
                                    <a href="product.html" class="btn">Learn more</a>
                                </h3>
                            </div>
                            <div class="span5">
                                <img src="~/Content/img/placeholder.jpg" class="thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
        </div>
    </div>
</div>